html {
    height: 100%;
}

/* unvisited link */
a:link {
    color: #bf5700;
}

/* visited link */
a:visited {
    color: #fad6a5;
}

/* mouse over link */
a:hover {
    color: #f1c40f;
}

/* selected link */
a:active {
    color: 077f4d;
}

body {
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    background-color: #000000;
    color: #dddddd;
    padding: 3px;
    height: 100%;
}

object {
    width: 100%;
    height: 100%;
}

h1 {
    /*font-family: Palatino, serif;*/
    font-family: "Gill Sans", sans-serif;
    border-bottom: 3px solid #95a5a6;
    color:o #95a5a6;
    font-size: 48px;
}

ul {
    font-size: 20px;
    color: #ffffff;
}

ol {
    font-size: 20px;
    color: #ffffff;
}

.tab {
    margin-left: 40px;
}

nav ul, footer ul {
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    padding: 10px;
    list-style: none;
    background-color: #bf5700
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

ol li {
    display: inline;
    margin-right: 20px;
}

#container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
}

footer {
    border-top: 1px solid #ffffff;
    font-size: 20px;
    color: #ffffff;
    background-color: #bf5700;
    border-bottom: 1px;
    padding: 10px;
}

/* =================================================== */

.grn {
  padding: 60px;
  padding-left:  100px;
  padding-right: 100px;
  background-color : #073824
}

.red {
  padding: 60px;
  padding-left:  100px;
  padding-right: 100px;
  background-color : #3E1007
}

.wht {
  padding: 60px;
  padding-left:  100px;
  padding-right: 100px;
  background-color: #ffffff;
  color: #2e3130
}

.blu {
  padding: 60px;
  padding-left:  100px;
  padding-right: 100px;
  background-color : #2c3e50
}

.org {
    padding: 60px;
    padding-left:  100px;
    padding-right: 100px;
    background-color : #bf5700
}
