<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="site.css" rel="stylesheet" type="text/css">
  </head>

  <body>
      <ul id="menu">
      <li><a href='/'>Home</a></li>
      <li><a href='/research'>Research</a></li>
      <li><a href='/side_projects'>Side Projects</a></li>
      <li><a href='pdfs/dfk_curriculum_vitae.pdf'>CV</a></li>
      </ul>

      <div class="container">
          {{ content }}
      </div>

      <footer>
          <p>&copy;  2020 David Fridovich-Keil. All rights reserved./p>
      </footer>
  </body>
</html>
